[data-aos] {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
}

[data-aos="fade-up"] {
    transform: translateY(30px);
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}
